<!-- raw html -->
<html lang="en"><!-- The head is omitted. -->
<div class="highlight"> 
    <div class="code-toolbar">
        <pre 
            tabindex="0" 
            style="
                display:block;
                color:#f8f8f2;
                background-color:#272822;
                -moz-tab-size:4;
                -o-tab-size:4;tab-size:4;
                "
            class="command-line"
            lang="en"
            data-prompt="{{ .Get "prompt" }}"
            data-output="{{ .Get "output" }}"
            data-filter-output="(out)"
            data-continuation-str="{{ .Get "cont-str" }}"
            data-continuation-prompt="{{ .Get "cont-prompt" }}"
            >

            <code class="language-{{ .Get "lang" }}">
                    {{.Inner}}
            </code>
        </pre>
    </div>
</div>
</html>
